<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('kanban_board') }}">
            <i class="bi bi-factory"></i> <span>SALUTEM</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if session.get('usuario_role') in ['admin', 'gerente', 'pcp', 'diretor'] %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('kanban_board') }}"><i class="bi bi-kanban"></i> Kanban</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('kanban_tv') }}" target="_blank"><i class="bi bi-tv"></i> TV Kanban</a></li>
                {% endif %}

                {% if session.get('usuario_role') in ['admin', 'almoxarifado', 'gerente', 'diretor'] %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('tv_almoxarifado') }}" target="_blank"><i class="bi bi-box-seam"></i> TV Almoxarife</a></li>
                {% endif %}

                {% if session.get('usuario_role') == 'diretor' %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('kanban_setores') }}"><i class="bi bi-grid-3x3-gap"></i> Kanban Setores</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('diretor_relatorios') }}"><i class="bi bi-bar-chart-line"></i> Relatórios</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard_almoxarifado') }}"><i class="bi bi-boxes-stacked"></i> Almoxarifado</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('estoque_interno') }}"><i class="bi bi-box-seam"></i> Estoque</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard_pcp') }}"><i class="bi bi-clipboard-data"></i> PCP</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('diretor_logs') }}"><i class="bi bi-clock-history"></i> Logs</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('diretor_acessos') }}"><i class="bi bi-people"></i> Acessos</a></li>
                {% endif %}
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDrop" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i> {{ session.get('usuario_nome') }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
